body {
  font-family: 'Segoe UI', sans-serif;
  background: #e0f7fa; /* azul claro */
  color: #01579b;
  margin: 0;
  padding: 20px;
}

h2, h3 {
  color: #0277bd;
}

input[type="text"], input[type="date"] {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #81d4fa;
}

button {
  padding: 8px 15px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #fb8c00;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 30px;
}

th, td {
  border: 1px solid #81d4fa;
  padding: 8px;
  text-align: center;
}

th {
  background: #4fc3f7;
  color: #01579b;
}

tr:nth-child(even) {
  background: #b3e5fc;
}
